
:root {
  --amplify-primary-color: #2196f3;
  --amplify-primary-tint: #3f6060;
  --amplify-primary-shade: #2dba89;
  --amplify-background-color: #d8ecfc;
}

amplify-authenticator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

amplify-sign-in .hydrated {
  background-color: mediumseagreen;
}

amplify-authenticator .section {
  background-color: gray;
}

/* Nav */
.navbar {
  display: flex;
  align-items: center;  
  padding: 5px 20px;
  background-image: linear-gradient(#50b3eb, #2fa4e7 60%, #2c9ad9);
}

.navbar-brand {
  display: flex;  
  align-items: center;
  /* background-color: #fff; */
}

.navbar-brand h2 {
  display: inline;
  padding-left: 5px;
  padding-top: 10px;
  text-transform: uppercase;
}

.navbar-brand img {
  width: 50px;
  /* transform: rotate(10deg); */
}

.navbar-collapse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.navbar-nav {
  padding-top: 8px;
  padding-left: 12px;
}

.nav-item {
  display: inline;
  margin-left: 20px;
  padding-top: 10px;
}

.nav-link {
  color: #000;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-collapse > .navbar-user {
  display: flex;
  /* flex-direction: row; */
  /* justify-content: space-between; */
  align-items: center;  
}

/* .navbar-user > button { */
button {  
  display: inline-block;
  margin-left: 20px;
  padding: 0.375rem 0.75rem;  

  background-color: #385c7e;
  color: #fff;
  font-family: 'Josefin Sans','Segoe UI', 'Roboto', sans-serif;    
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;  

  text-align: center;  
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
  border: 1px solid transparent;
  border-radius: 0.25rem; 
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.navbar-user > button:hover {
  opacity: 0.9;
}

.container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  height: 100%;
  margin: 30px auto;
  width: 100%;
}

.container-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-top .icon {
  color: rgba(238,111,87,0.9);
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 10px;
  cursor: pointer;
}

.container-top > h2 {
  padding: 10px 0 8px;
  font-size: 2rem;
  position: relative;
}

.container-top > h2::before {
  content: "";
  position: absolute;
  left: 8%;
  bottom: 9px;
  width: 50px;
  height: 8px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;  
}

.shop-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: none;  
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.shop-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {  
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  min-width: 400px;
  pointer-events: auto;
  background-color: #fff;
  
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .3rem;
  outline: 0;  
  padding: 10px;
}

.modal-header {
  text-align: center;
}

.modal-body {
  margin:20px auto;
  padding: 0 10px;
}

.modal-body label {
  min-width: 26%;
}

.modal-body input {  
  width: 100%;
}

input {
  color: #212529;
  color: hsl(0, 0%, 20%);
  font-size: 1rem;  
  line-height: 32px;

  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  display: inline;
  padding: 2px;
  padding-left: 10px;  
  /* margin-left: 10px; */
  margin-bottom: 5px;  
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Robto, "Helvetica Neue", Arial, sans-serif;
}

.form-element {
  display: flex;
  font-size: 1rem;  
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

/* auto-generated select by React Select */
  /* border: 1px solid gray;
  border-radius: 5px; */

.form-element > div { 
  color: #212529;
  line-height: 1.2rem;
  font-family: Neucha, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Robto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
}


.modal-footer {
  padding-right: 10px;
  text-align: right;
}

.modal-footer button:disabled {
  background-color: gray;
  cursor: grab;
}

.toast {
  color: #000;
  min-width: 500px;
}
/* .ReactModal__overlay {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ReactModal__overlay--after-open {
  opacity: 1;
}
.ReactModal__overlay--before-close {
  opacity: 0;
} */

@media screen and (max-width: 500px) {
  .modal-content {
    min-width: 460px
  }
  .modal-body {
    padding: 0 8px;
  }
  
}

@media screen and (min-width: 992px) {
  .modal-content {
    min-width: 400px
  }
  
}

